@import url("https://fonts.googleapis.com/css?family=Roboto");

nav {
  display: inline;
  font-family: "Roboto";
}

h1 {
  font-size: 50;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 10px;
}

h2 {
  font-size: 50px;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 50px;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 10px;
}

h4 {
  font-size: 50px;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 10px;
}

h5 {
  font-size: 50px;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
  justify-content: center;
}

body {
  background-color: bisque;
}

section {
  background-color: blueviolet !important;
}
